name: Build
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.2.0
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Start docker
        run: docker-compose -f docker-compose.test.yml up -d
      - name: Run test
        id: test
        run: JAVA_OPTS="--enable-preview" ./gradlew test
      - name: Stop docker
        run: docker-compose -f docker-compose.test.yml down
      - name: Run sample application test
        run: JAVA_OPTS="--enable-preview" ./gradlew :sample:test
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        if: always()
        with:
          files: "**/test-results/**/*.xml"
  
